.animediv {
  margin-top: 1vh;
  padding: 1vh;
  gap: 1vh;
  overflow: hidden;
  height: max-content;
  max-height: max-content;
  width: 90vw;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2vh;
}

@media screen and (max-width: 800px) {
  .animediv {
    margin-left: 1vh;
    max-height: max-content;
    height: max-content;
    min-height: 10vh;
  }
}
