.btn {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 90vw;
  max-width: 90vw;
  margin-top: 1vh;
  border-width: 2px;
  padding: 1vh;
  border-radius: 5px;
  height: max-content;
  min-height: 5vh;
  max-height: 30vh;
  overflow-y: auto;
  margin-left: 1vw;
}
.btn button {
  background-color: #364878;
  color: white;
}
.btn button:disabled {
  background-color: #272d3f5f;
}

@media screen and (max-width: 800px) {
  .btn {
    margin-left: 1.4vh;
    height: max-content;
  }
  .btn button {
    width: 110vw;
    height: max-content;
  }
}
