body {
  background-color: #12192c;
  max-height: max-content;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
}
body::-webkit-scrollbar {
  width: 0.3vw; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #364878; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-track {
  background-color: #2f3136; /* color of the scroll track */
}

body::-webkit-scrollbar-button {
  display: none; /* hide the scroll buttons */
}
